body {
  background-image: url("../images/dojobackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 150px;
  margin: 0 auto;
}

h2 {
  font-size: 100px;
}

.waiting-screen {
  display: flex;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice-container {
  margin: 60px;
}
.caption {
  display: block;
}

.choice-image {
  width: 200px;
  height: 200px;
  opacity: 0.7;
  cursor: pointer;
}

#scissors {
  transform: rotate(-90deg);
}

#rock:hover {
  animation: hand-hover-animate 1s;
  animation-fill-mode: forwards;
}

@keyframes hand-hover-animate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5) rotate(90deg);
  }
}

#scissors:hover {
  animation: scissor-hover-animate 1s;
  animation-fill-mode: forwards;
}

@keyframes scissor-hover-animate {
  from {
    transform: scale(1) rotate(-90deg);
  }
  to {
    transform: scale(1.5);
  }
}

#paper:hover {
  animation: paper-hover-animate 1s;
  animation-fill-mode: forwards;
}

@keyframes paper-hover-animate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5) rotate(90deg);
  }
}
